* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header {
  background-color: #1c1c1c;
  color: #fff;
  padding: 0.625rem 0;
  text-align: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status {
  margin-top: 0.3125rem;
  font-size: 0.75rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.username-form {
  display: flex;
  margin-top: 1rem;
}

.username-form input {
  padding: 0.625rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  margin-right: 0.625rem;
}

#joinBtn {
  padding: 0.5rem 1.125rem;
  border: none;
  border-radius: 0.3125rem;
  background-color: #1c1c1c;
  color: #fff;
  cursor: pointer;
}

#joinBtn:hover {
  background-color: #2e2e2e;
}

.message-form {
  display: flex;
  width: 40%;
  margin-top: 0.3125rem;
}

.message-form input {
  padding: 0.625rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  margin-right: 0.625rem;
}

#sendBtn {
  font-size: 1.25rem;
  padding: 0.5rem 1.125rem;
  border: none;
  border-radius: 0.3125rem;
  background-color: #1c1c1c;
  color: #fff;
  cursor: pointer;
}

#sendBtn:hover {
  background-color: #2e2e2e;
}

.chat-container {
  width: 40%;
  height: 40rem;
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 0.3125rem;
  padding: 0.625rem;
  margin-top: 1rem;
  box-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.3);
  scrollbar-width: thin;
  scrollbar-color: #1c1c1c #f1f1f1;
}

.chat-container::-webkit-scrollbar {
  width: 0.5rem;
}

.chat-container::-webkit-scrollbar-thumb {
  background-color: #1c1c1c;
  border-radius: 0.625rem;
}

.chat-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.messages {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
}

.messages li {
  padding: 0.5rem 0.75rem;
  margin-bottom: 0.625rem;
  border-radius: 0.3125rem;
  max-width: 80%;
  word-wrap: break-word;
}

.messages li.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
  text-align: right;
}

.messages li.received {
  background-color: #f1f0f0;
  align-self: flex-start;
}

#members,
#typingIndicator {
  font-size: 0.75rem;
  color: #fff;
}
